form{
    width: 250px;
    height: 350px;
    border: 2px solid DodgerBlue;
    border-radius: 5px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}
.login{
    font-size: 28px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type="text"], input[type="password"]{
    width: 210px;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    background: transparent;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"]{
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border-radius: 15px;
    width: 150px;
    background-color: dodgerblue;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-size: 20px;
}

.or{
    font-size: 10px;
    color: #000;
    margin-top: 20px;

}

.signup p{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.signup a{
    color: dodgerblue;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}